<footer class="d-flex pb-4 pt-4 border-top border-light bg-primary">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="d-flex text-center justify-content-center align-items-center"
          role="contentinfo"
        >
          <ul class="d-flex list-unstyled mb-3">
            <li class="mr-2">
              <a
                href="https://twitter.com/_MagicMarcos"
                target="_blank"
                class="btn btn-icon-only btn-pill btn-primary btn-twitter"
                aria-label="twitter social link"
                data-toggle="tooltip"
                data-placement="top"
                title="Follow me @_MagicMarcos on Twitter"
              >
                <span aria-hidden="true" class="fab fa-twitter"></span>
              </a>
            </li>
            <li class="mr-2">
              <a
                href="https://marcoscardoso.netlify.app"
                target="_blank"
                class="btn btn-icon-only btn-pill btn-primary btn-slack"
                aria-label="portfolio link"
                data-toggle="tooltip"
                data-placement="top"
                title="For more about me, check out my portfolio"
              >
                <span aria-hidden="true" class="fas fa-laptop-code"></span>
              </a>
            </li>
            <li class="mr-2">
              <a
                href="https://github.com/MagicMarcos"
                target="_blank"
                class="btn btn-icon-only btn-pill btn-primary btn-github"
                aria-label="github social link"
                data-toggle="tooltip"
                data-placement="top"
                title="Check out my other projects"
              >
                <span aria-hidden="true" class="fab fa-github"></span>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/marcoscardoso-dev/"
                target="_blank"
                class="btn btn-icon-only btn-pill btn-primary btn-behance"
                aria-label="linkedin social link"
                data-toggle="tooltip"
                data-placement="top"
                title="Connect with me on LinkedIn"
              >
                <span aria-hidden="true" class="fab fa-linkedin-in"></span>
              </a>
            </li>
          </ul>
        </div>
        <div
          class="d-flex text-center justify-content-center align-items-center"
          role="contentinfo"
        >
          <p class="font-weight-normal font-small mb-0">
            Copyright © Marcos Cardoso
            <span class="current-year">2020</span>. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
