<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>Dream On</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="title" content="DreamOn" />
  <meta name="author" content="MarcosCardoso" />

  <!--  Social tags -->
  <meta
    name="keywords"
    content="neomorphism, DACA, dream, dreamer, dreamers, dreamon, microsoft, azure, ai , computer vision"
  />
  <meta
    name="description"
    content="Harness the power of AI to find scholarships friendly for DACA "
  />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="DreamOn" />
  <meta
    itemprop="description"
    content="Harness the power of AI to find scholarships friendly for DACA "
  />
  <meta
    itemprop="image"
    content="https://res.cloudinary.com/codechella/image/upload/v1637521086/pibberfwlhvulfvkydq7.png"
  />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="product" />
  <meta name="twitter:site" content="@_magicmarcos" />
  <meta name="twitter:title" content="DreamOn" />
  <meta
    name="twitter:description"
    content="Harness the power of AI to find or grant DACA friendly scholarships."
  />
  <meta name="twitter:creator" content="@_magicmarcos" />
  <meta
    name="twitter:image"
    content="https://res.cloudinary.com/codechella/image/upload/v1637521086/pibberfwlhvulfvkydq7.png"
  />

  <!-- Open Graph data -->
  <meta property="fb:app_id" content="214738555737136" />
  <meta property="og:title" content="DreamOn" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dreamingon.herokuapp.com" />
  <meta
    property="og:image"
    content="https://res.cloudinary.com/codechella/image/upload/v1637521086/pibberfwlhvulfvkydq7.png"
  />
  <meta
    property="og:description"
    content="Harness the power of AI to find scholarships friendly for DACA "
  />
  <meta property="og:site_name" content="DreamOn" />

  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />
  <!-- favicon -->
  <link rel="icon" type="image/png" href="/img/daca1.png" />
  <!-- Fontawesome -->
  <link
    type="text/css"
    href="/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    rel="stylesheet"
  />

  <!-- Pixel CSS -->
  <link type="text/css" href="/css/neumorphism.css" rel="stylesheet" />

  <link rel="stylesheet" href="/style.css" />
  <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
</head>
