<header class="header-global">
  <nav
    id="navbar-main"
    aria-label="Primary navigation"
    class="
      navbar navbar-main navbar-expand-lg navbar-theme-primary
      headroom
      navbar-light navbar-transparent navbar-theme-primary
    "
  >
    <div class="container position-relative">
        <a
        class="
          navbar-brand
          shadow-soft
          py-2
          px-2
          rounded
          border border-light
          mr-lg-4
        "
        href="/feed"
      >
        <img
          src="/img/dLogo.png"
          style="width: 100px; height: 30px"
          alt="Logo dark"
        />
      </a>

      <div
        class="d-flex text-center justify-content-center align-items-center"
        role="contentinfo"
      >
        <ul class="d-flex list-unstyled mb-0">
          <li class="mr-2">
           <a
                href="https://marcoscardoso.netlify.app"
                target="_blank"
                class="btn btn-icon-only btn-pill btn-primary btn-slack"
                aria-label="portfolio link"
                data-toggle="tooltip"
                data-placement="top"
                title="Check out my portfolio"
              >
                <span aria-hidden="true" class="fas fa-laptop-code"></span>
              </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/marcoscardoso-dev/"
              target="_blank"
              class="btn btn-icon-only btn-pill btn-primary btn-behance"
              aria-label="linkedin social link"
              data-toggle="tooltip"
              data-placement="top"
              title="Connect with me on LinkedIn"
            >
              <span aria-hidden="true" class="fab fa-linkedin-in"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
